.content{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    flex-wrap: wrap;
    gap: 30px;
    padding: 6px 30px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 12px 10px;
}

th, td {
  padding: 9px 20px;
   text-align: left;
}



.remove-btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
}

.checkout{
  margin-right: 40px;
  width: 30%;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}